@import "tailwindcss";
@import "tw-animate-css";
/* https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration */
/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-accent: var(--secondary-accent);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-accent: var(--primary-accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-container-1: var(--container-1);
  --color-container-2: var(--container-2);
  --color-container-3: var(--container-3);
  --color-container-4: var(--container-4);
  --color-container-5: var(--container-5);




}

:root {
  --radius: 0.625rem;
  --background: oklch(0.96 0 0);
  --foreground: oklch(0 0 0);

  --container-1: oklch(0.86 0 0);
  --container-2: oklch(0.83 0 0);
  --container-3: oklch(0.8 0 0);
  --container-4: oklch(0.77 0 0);
  --container-5: oklch(0.74 0 0);
  
  --primary: oklch(0.44 0.1722 259.32);
  --primary-foreground: oklch(1.0 0 0);
  --primary-accent: oklch(0.85 0.1694 85.37);
  --primary-inactive: oklch(0.45 0 0);
  --primary-container: oklch(0.84 0.0832 246.72);
  --on-primary-container: oklch(0 0 0);

  --secondary: oklch(0.85 0.1694 85.37);
  --secondary-foreground: oklch(0 0 0);
  --secondary-accent: oklch(0.44 0.1722 259.32);
  --secondary-inactive: oklch(0.45 0 0);
  --secondary-container: oklch(0.92 0.1295 95.37);
  --on-secondary-container: oklch(0 0 0);

  --error: oklch(0.64 0.2484 24.11);
  --error-foreground: oklch(1 0 0);
  --error-container: oklch(0.76 0.1444 13.67);
  --on-error-container: oklch(0 0 0);

  /* TODO: find out how to remove/replace */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  /* Sidebar */
  --sidebar: oklch(0.9 0.0095 100);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.105 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --container-1: oklch(0.39 0 0);
  --container-2: oklch(0.43 0 0);
  --container-3: oklch(0.47 0 0);
  --container-4: oklch(0.5 0 0);
  --container-5: oklch(0.54 0 0);

  --primary: oklch(0.84 0.0832 246.72);
  --primary-foreground: oklch(0 0 0);
  --primary-accent: oklch(0.31 0.1426 261.99);
  --primary-inactive: oklch(0.73 0 0);
  --primary-container: oklch(0.44 0.1722 259.32);
  --on-primary-container: oklch(1 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0 0 0);
  --secondary-accent: oklch(0.44 0.091263 78.802);
  --secondary-inactive: oklch(0.73 0 0);
  --secondary-container: oklch(0.85 0.1694 85.37);
  --on-secondary-container: oklch(1 0 0);

  --error: oklch(0.76 0.1444 13.67);
  --error-foreground: oklch(0 0 0);
  --error-container: oklch(0.64 0.2484 24.11);
  --on-error-container: oklch(1 0 0);

  /* TODO: find out how to remove/replace */
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  
  /* Sidebar */
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
